.header {
    background-color: aqua;
  }
  
  .header_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header_logo {
    font-size: 40px;
    font-weight: 700;
    color: white;
  }
  
  .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
  }

.navbar__link {
  text-decoration: none;
}

  .navbar h2 {
    font-size: 3rem;
    color: black;
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: bisque;
  }